
body, html {
    background: linear-gradient(35deg, #7A50A6, #f0e3f4);
    color: #260E5A;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    text-decoration: none;
}

nav {
    width: 100%;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    background: #DCCCA8;
}

nav ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
    width: 500px;
    height: auto;
    margin: auto;
    border-radius: 20%;
}

#img-caption {
    font-size: 12px;
}

#tribute-info {
    width: 500px;
    font-size: 16px;
}

#achieve {
    display: flex;
    flex-direction: row;
}